
body {
  text-align: center;
  color: white;
}
html {
  scroll-behavior: smooth;
  transition: 5s;
}
#home-page {
  background-color: rgb(138, 50, 47);
  background: url("images/background.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  font-family: 'Oswald', sans-serif;
}
#project-page {
  background-color: rgb(233, 233, 233);
  min-height: 100vh;
}
#contact-page {
  background-color: rgb(35, 72, 83);
  min-height: 100vh;
  font-family: 'Oswald', sans-serif;
}
#footer {
  background-color: rgb(16, 36, 42);
  font-family: 'Oswald', sans-serif;
}
h1 {
  font-size: 5vh;
}
h4 {
  color: rgb(103, 188, 214);
}
span {
  color: rgb(103, 188, 214);
}
.divider {
  width: 100%;
  background-color: black;
  height: 5px;
}
.bg-img {
  min-height: 100vh;
}
.box {
  padding-top: 12rem;
  min-height: 100vh;
}
.box2 {
  padding-top: 10rem;
  min-height: 80vh;
  width: 40vw;
}
.btn {
  color: rgb(60, 177, 192);
  background-color: white;
  font-family: 'Oswald', sans-serif;
}
.btn:hover {
  color: white;
  background-color: rgb(60, 177, 192);
  transition: 0.5s;
  transform: scale(1.1);
}
.btn-size {
  padding: 20px 40px 20px 40px;
}
.project-text {
  font-size: 6vh;
  color: black;
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
}
.project-text2 {
  font-size: 6vh;
  color: rgb(255, 255, 255);
  font-weight: bold;
}
.card {
  height: 35rem;
  width: 25rem;
  color: black;
}
.project-row {
  display: flex;
  justify-content: center;
}
.card-title {
  font-weight: bold;
  font-size: 1.4rem;
  color: black;
  font-family: 'Oswald', sans-serif;
}
.card-text {
  font-family: 'Open Sans', sans-serif;
}
.img-height {
  height: 55%;
}
iframe {
  height: 48%;
}
form {
  display: flex;
  flex-direction: column;
  
}
input {
    font-size: 1.5rem;
    font-family: 'Oswald', sans-serif;
    background-color: rgb(26, 41, 51);
    color: white;
    border: 2px solid rgba(255, 255, 255, 0.7);
    margin-bottom: 10px;
    height: 3rem;
}

textarea {
  background-color: rgb(26, 41, 51);
  color: white;
  border: 2px solid rgba(255, 255, 255, 0.7);
  margin-bottom: 10px;
  height: 10rem;
  font-size: 1.5rem;
}
.submitbutton {
  font-family: 'Oswald', sans-serif;
  font-size: 1.5rem;
  height: 3.5rem;
  background-color: rgb(26, 41, 51);
  color: white;
  border: 2px solid rgba(255, 255, 255, 0.7);
}
.submitbutton:hover {
  color: black;
  background-color: white;
  transition: 0.5s ease-in-out;
}
.icon {
  margin-left: 2rem;
  margin-bottom: 2rem;
  color: white;
}
.github:hover {
  color: #333;
  transition: 0.5s  ease-in-out;
}
.gitlab:hover {
  color: #fc6d26;
  transition: 0.5s  ease-in-out;
}
.linkedin:hover {
  color: #0077b5;
  transition: 0.5s  ease-in-out;
}
.twitter:hover {
  color: #1da1f2;
  transition: 0.5s  ease-in-out;
}

.nav a::before,
.nav a::after {
  content: '';
  height: 14px;
  width: 14px;
  position: absolute;
  transition: all .35s ease;
  opacity: 0;
}

.nav a::before {
  content: '';
  right: 0;
  top: 0;
  border-top: 3px solid #3E8914;
  border-right: 3px solid #2E640F;
  transform: translate(-100%, 50%);
}

.nav a:after {
  content: '';
  left: 0;
  bottom: 0;
  border-bottom: 3px solid #2E640F;
  border-left: 3px solid #3E8914;
  transform: translate(100%, -50%)
}

.nav a:hover:before,
.nav a:hover:after{
  transform: translate(0,0);
  opacity: 1;
}

.nav a:hover {
  color: #3DA35D;
}



@media only screen and (max-width: 1300px) {
  .project-row {
    display: flex;
    flex-direction: column;
  }
  .card {
    height: 75vh;
    width: 100vw;
    color: black;
  }
}
@media only screen and (max-width: 600px) {
  .card {
    min-height: 85vh;
    width: 100vw;
    color: black;
  }
  .icon {
  margin-left: 1rem;
  cursor: pointer;
}
.box2 {
  padding-top: 8rem;
  width: 80vw;
}
input {
    font-size: 1.3rem;
    margin-bottom: 20px;
    height: 3rem;
}

textarea {
  margin-bottom: 20px;
  height: 10rem;
  font-size: 1.3rem;
}
h4 {
  font-size: 1.3rem;
}
}